body {
  background-image: url(http://merlin.rebrovic.net/media/external/2013-05-20_smartphone_hand.jpg);
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
}

.blogNav {
 text-align: center;
 margin-top: 2%;
 text-decoration: none;
 margin-bottom: 11%;
}

.blogImage {
 margin-left: 33%;
 margin-top: -8%;
 width: 36%;
 background: transparent;
 border: none;
}

.links {
  text-align: center;
  margin-bottom: 11%;
}

.homeContent {
  text-align: center;
}

.contentSection {
  /*margin-top: 300px;
  border: solid 1px;
  width: 380px;
  margin-left: 447px;*/
  margin-top: 24%;
  border: solid;
  width: 42%;
  margin-left: 29%

}

.post {
  margin-right: 10px;
  font-family: fantasy;
}

.projects {
  margin-right: 10px;
  font-family: fantasy;
}

.home {
  margin-right: 10px;
  font-family: fantasy;
}

.resume {
  font-family: fantasy;
}

.footer {
  margin-top: 100%;
  text-align: center;
}
